:root {
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  margin: 0;
}

body {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  touch-action: none;
  user-select: none;
}

#__next {
  flex: 1;
  display: flex;
  min-height: 100vh;
  min-height: 100svh;
}

button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  user-select: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}
