/*html, body {
  overflow: hidden;
  height: 100%;
}*/

body {
  touch-action: manipulation;
  user-select: none;
}

button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  user-select: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}